@using DBSync.Models
@using System.Web.Script.Serialization

@{
    List<Contacto> listaContactos = (List<Contacto>)ViewBag.ListaContactos;
    Contacto modificarContacto = ViewBag.ContactoModificar ?? null;
}

<ul class="nav nav-pills">
    <li role="presentation" class="active"><a id="mantenimientoMySQL" href="#">Mantenimiento</a></li>
    <li role="presentation"><a id="nuevoMySQL" href="#">Nuevo</a></li>
    <li role="presentation" @(modificarContacto == null ? "class=disabled" : "" ) ><a id="modificarMySQL" href="#">Modificar</a></li>
</ul>
<br />
<div id="panelMantenimientoMySQL" class="panel">
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading">Contactos almacenados en base de datos MySQL</div>
            <table class="table textCentered">
                <thead>
                    <tr>
                        <th>DPI</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Dirección</th>
                        <th>Teléfono Casa</th>
                        <th>Teléfono Móvil</th>
                        <th>Nombre Contacto</th>
                        <th>Teléfono Contacto</th>
                        <th> - </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Contacto contacto in listaContactos)
                    {
                        String jsonString = new JavaScriptSerializer().Serialize(contacto);
                        
                        <tr>
                            <td>@contacto.dpi</td>
                            <td>@contacto.nombre</td>
                            <td>@contacto.apellido</td>
                            <td>@contacto.direccion</td>
                            <td>@contacto.telefonoCasa</td>
                            <td>@contacto.telefonoMovil</td>
                            <td>@contacto.nombreContacto</td>
                            <td>@contacto.numeroContacto</td>
                            <td>
                                <button data-id="@jsonString" class="btn btn-info btnModificarContactoMySQL" type="button">
                                    @*@Html.ActionLink("Modificar", "mysqlUpdateDelete", "DataBase", new { modContacto = contacto }, new { @style = "color:#FFF;" })*@
                                    Modificar
                                </button>
                                <button class="btn btn-danger" type="button">
                                    @Html.ActionLink("Eliminar", "EliminarMySQL", "DataBase", new { dpi = contacto.dpi }, new { @style = "color:#FFF;" })
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="panelAddMySQL" class="panel hidden">
    <div class="panel-body">
        @using (@Html.BeginForm("InsertarContactoMySQL", "DataBase", FormMethod.Post))
        {
            <fieldset>
                <legend>Nuevo Contacto MySQL</legend>
                <label for="txtDpi">DPI:</label>
                <input id="txtDpi" name="txtDpi" type="text" class="form-control" placeholder="DPI" aria-describedby="basic-addon1" /><br />
                <label for="txtNombre">Nombre:</label>
                <input id="txtNombre"  name="txtNombre" type="text" class="form-control" placeholder="Nombre" aria-describedby="basic-addon1" /><br />
                <label for="txtApellido">Apellido:</label>
                <input id="txtApellido" name="txtApellido" type="text" class="form-control" placeholder="Apellido" aria-describedby="basic-addon1" /><br />
                <label for="txtDireccion">Dirección:</label>
                <input id="txtDireccion" name="txtDireccion" type="text" class="form-control" placeholder="Dirección" aria-describedby="basic-addon1" /><br />
                <label for="txtTelefonoCasa">Teléfono Casa:</label>
                <input id="txtTelefonoCasa" name="txtTelefonoCasa" type="text" class="form-control" placeholder="Teléfono de casa" aria-describedby="basic-addon1" /><br />
                <label for="txtTelefonoMovil">Teléfono Móvil:</label>
                <input id="txtTelefonoMovil" name="txtTelefonoMovil" type="text" class="form-control" placeholder="Teléfono de móvil" aria-describedby="basic-addon1" /><br />
                <label for="txtNombreContacto">Nombre Contacto:</label>
                <input id="txtNombreContacto" name="txtNombreContacto" type="text" class="form-control" placeholder="Nombre de contacto" aria-describedby="basic-addon1" /><br />
                <label for="txtTelefonoContacto">Teléfono Contacto:</label>
                <input id="txtTelefonoContacto" name="txtTelefonoContacto" type="text" class="form-control" placeholder="Teléfono de contacto" aria-describedby="basic-addon1" /><br />
                <div class="btn-group">
                    <input type="submit" value="Aceptar" class="btn btn-success" />
                    <input id="btnCancelarNuevoMySQL" type="submit" value="Cancelar" class="btn btn-danger" />
                </div>
            </fieldset>
        }
    </div>
</div>
@if (modificarContacto != null)
{
    <div id="panelModifyMySQL" class="panel hidden">
        <div class="panel-body">
            @using (@Html.BeginForm("ModificarContactoMySQL", "DataBase", FormMethod.Post))
            {
                <fieldset>
                    <legend>Nuevo Contacto MySQL</legend>
                    <input type="hidden" name="dpiOriginal" id="dpiOriginal" value="@(modificarContacto.dpi ?? String.Empty)" />
                    <label for="txtDpi2">DPI:</label>
                    <input id="txtDpi2" name="txtDpi2" type="text" class="form-control" placeholder="DPI" aria-describedby="basic-addon1" value="@(modificarContacto.dpi ?? String.Empty)" /><br />
                    <label for="txtNombre2">Nombre:</label>
                    <input id="txtNombre2"  name="txtNombre2" type="text" class="form-control" placeholder="Nombre" aria-describedby="basic-addon1" value="@(modificarContacto.nombre ?? String.Empty)"/><br />
                    <label for="txtApellido2">Apellido:</label>
                    <input id="txtApellido2" name="txtApellido2" type="text" class="form-control" placeholder="Apellido" aria-describedby="basic-addon1" value="@(modificarContacto.apellido ?? String.Empty)"/><br />
                    <label for="txtDireccion2">Dirección:</label>
                    <input id="txtDireccion2" name="txtDireccion2" type="text" class="form-control" placeholder="Dirección" aria-describedby="basic-addon1" value="@(modificarContacto.direccion ?? String.Empty)"/><br />
                    <label for="txtTelefonoCasa2">Teléfono Casa:</label>
                    <input id="txtTelefonoCasa2" name="txtTelefonoCasa2" type="text" class="form-control" placeholder="Teléfono de casa" aria-describedby="basic-addon1" value="@(modificarContacto.telefonoCasa ?? String.Empty)"/><br />
                    <label for="txtTelefonoMovil2">Teléfono Móvil:</label>
                    <input id="txtTelefonoMovil2" name="txtTelefonoMovil2" type="text" class="form-control" placeholder="Teléfono de móvil" aria-describedby="basic-addon1" value="@(modificarContacto.telefonoMovil ?? String.Empty)"/><br />
                    <label for="txtNombreContacto2">Nombre Contacto:</label>
                    <input id="txtNombreContacto2" name="txtNombreContacto2" type="text" class="form-control" placeholder="Nombre de contacto" aria-describedby="basic-addon1" value="@(modificarContacto.nombreContacto ?? String.Empty)"/><br />
                    <label for="txtTelefonoContacto2">Teléfono Contacto:</label>
                    <input id="txtTelefonoContacto2" name="txtTelefonoContacto2" type="text" class="form-control" placeholder="Teléfono de contacto" aria-describedby="basic-addon1" value="@(modificarContacto.numeroContacto ?? String.Empty)"/><br />
                    <div class="btn-group">
                        <input type="submit" value="Aceptar" class="btn btn-success" />
                        <input id="btnCancelarModifyMySQL" type="submit" value="Cancelar" class="btn btn-danger" />
                    </div>
                </fieldset>
            }
        </div>
    </div>
}